[Unit]
Description=RabbitMQ Server
After=network.target epmd@0.0.0.0.socket
Wants=network.target epmd@0.0.0.0.socket

[Service]
Type=notify
NotifyAccess=all
User=rabbitmq
Group=rabbitmq
UMask=0027
SyslogIdentifier=rabbitmq
LimitNOFILE=65536

Environment=HOME=/var/lib/rabbitmq
Environment=RABBITMQ_HOME=/opt/rabbitmq
Environment=RABBITMQ_BASE=/var/lib/rabbitmq
Environment=RABBITMQ_CONFIG_FILE=/etc/rabbitmq/rabbitmq
Environment=RABBITMQ_ENABLED_PLUGINS_FILE=/etc/rabbitmq/enabled_plugins
Environment=RABBITMQ_LOG_BASE=/var/log/rabbitmq
Environment=RABBITMQ_MNESIA_BASE=/var/lib/rabbitmq/mnesia
Environment=RABBITMQ_NODENAME={{ inventory_hostname }}
Environment=RABBITMQ_NODE_IP_ADDRESS={{ hostvars[inventory_hostname]['ansible_host'] }}
Environment=RABBITMQ_NODE_PORT={{ rabbitmq_port }}
Environment=PATH=/opt/rabbitmq/sbin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
Environment=LANG=en_US.UTF-8
Environment=LC_ALL=en_US.UTF-8

ExecStartPre=/bin/mkdir -p /var/lib/rabbitmq/mnesia
ExecStartPre=/bin/chown -R rabbitmq:rabbitmq /var/lib/rabbitmq
ExecStartPre=/bin/chmod 755 /var/lib/rabbitmq

ExecStart=/opt/rabbitmq/sbin/rabbitmq-server
ExecStop=/opt/rabbitmq/sbin/rabbitmqctl stop

Restart=on-failure
RestartSec=10
TimeoutStartSec=600

WorkingDirectory=/var/lib/rabbitmq

[Install]
WantedBy=multi-user.target
